<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span *ngIf="examination">{{examination.name}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <span *ngIf="examination">{{examination.name}}</span>
  </ion-card-header>

  <ion-card-content>
    І Бог промовляв всі слова оці, кажучи: Я Господь, Бог твій, що вивів тебе з єгипетського краю з дому рабства.

    Хай не буде тобі інших богів передо Мною!
    Не роби собі різьби і всякої подоби з того, що на небі вгорі, і що на землі долі, і що в воді під землею. Не вклоняйся їм і не служи їм, бо Я Господь, Бог твій, Бог заздрісний, що карає за провину батьків на синах, на третіх і на четвертих поколіннях тих, хто ненавидить Мене, і що чинить милість тисячам поколінь тих, хто любить Мене, і хто держиться Моїх заповідей.
    Не призивай Імення Господа, Бога твого, надаремно, бо не помилує Господь того, хто призиватиме Його Ймення надаремно.
    Пам'ятай день суботній, щоб святити його! Шість днів працюй і роби всю працю свою, а день сьомий субота для Господа, Бога твого: не роби жодної праці ти й син твій, та дочка твоя, раб твій та невільниця твоя, і худоба твоя, і приходько твій, що в брамах твоїх. Бо шість день творив Господь небо та землю, море та все, що в них, а дня сьомого спочив тому поблагословив Господь день суботній і освятив його.
    Шануй свого батька та матір свою, щоб довгі були твої дні на землі, яку Господь, Бог твій, дає тобі!
    Не вбивай!
    Не чини перелюбу!
    Не кради!
    Не свідкуй неправдиво на свого ближнього!
    Не жадай дому ближнього свого, не жадай жони ближнього свого, ані раба його, ані невільниці його, ані вола його, ані осла його, ані всього, що ближнього твого![1]
  </ion-card-content>

</ion-card>
