<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Іспити сумління</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row text-center>
      <h3>Виберіть іспит сумління</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-row  *ngFor="let examination of examinations" >
            <ion-col ion-item>
              <ion-row>
                <ion-col col-10 (click)="showExamination(examination)">
                  {{examination.name}}
                </ion-col>
                <ion-col col-2>
                  <ion-icon color="secondary" name="add-circle" (click)="showCreateConfessionModal(examination)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="confession">
      <ion-col>
        <h3>Приготування до сповіді</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="confession">
      <ion-col>
        <ion-label>
          {{confession.name}}
        </ion-label>
      </ion-col>
      <ion-col>
        <button ion-button outline block color="secondary">Продовжити</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
