<ion-row>
  <ion-col>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <h2>{{commandment.name}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 *ngIf="commandment.description">
              {{commandment.description}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="commandment.sins">
      <ion-col>
        <ion-row *ngFor="let sin of sins">
          <ion-col col-10>
            <p>{{sin.sin.name}}</p>
          </ion-col>
          <ion-col col-2 >
            <ion-checkbox *ngIf="confession" [(ngModel)]="sin.selectedInExamination" (click)="toggleCommandment(commandment, sin.sin)" color="danger">
            </ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
